@import "tailwindcss";

.dark-mode {
  background-color: black;
  color: white;
  & input {
    background-color: #282a2c;
    color: #c7c9c3;
  }
  & article {
    background-color: #131314;
    color: #c7c9c3;
    border: 1px solid #c7c9c3;
  }
}
